.demo-droppable {
    /* background: #08c; */
    /* color: #fff; */
    padding: 100px 0;
    text-align: center;
  }
  .demo-droppable.dragover {
    background: #272727;
  }



.col-sm-4:before,
.col-sm-8:before,
.col-sm-12 {
  content: '';
  width: 0;
  
}

.col-sm-4:before,
.col-sm-8:before,
.col-sm-12 {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;

  
}

.col-sm-4:before {
  padding-top: 100%;
  /* makes expand to a square */
}

.col-sm-8:before {
	padding-top: 50%;
	/* makes a rectangle half the height of a square */
  }

.col-sm-12:before {
	padding-top: 25%;
}

[class^="col-sm-"] {
  /* white-space: nowrap; */
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #444444;
  padding: 0;
  text-align: center;
  background: #171717;
  background-size: cover;
  overflow-wrap: break-word;
  word-break: break-all;
  line-height: 16px;
  font-size: 16px;
  white-space: normal;
}

[class^="col-sm-"]:hover {
	background: #272727;
}

.col-sm-4 span {
	/* position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
	margin: -15% 0 0 -25%; */
	/* word-break: break-word;
	text-overflow: ellipsis;
	overflow: hidden; */
	vertical-align: top;
	overflow: hidden;
}

.col-sm-8 span {
	/* position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
	margin: -5% 0 0 -50%; */
	vertical-align: top;
}

.col-sm-12 span {
    vertical-align: -webkit-baseline-middle;
}

.row {
	color: white;
	text-shadow: 0 0 black, 0 0 2px black;
  }
  
  .col-sm-4 {
	/* background: #171717; */
	display: flex;
  }
  .col-sm-8 {
	display: flex;
  }

  .col-sm-12 {
	display: inline-table;
	padding-bottom: 5px !important;
  }

  input[type="text"], textarea {

    background-color : #272e30; 
    border: none;
  }

  .success-audio {
    color: Green;
    background-image: url('../img/audioBg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .failed-audio {
    color: Red;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .success-video {
    color: Green;
    background-image: url('../img/videoBg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .failed-video {
    color: Red;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }